body {
    text-align: center;
    margin: 0;
    font-family: "Faustina", serif;
}

#canterbury {
    background-image: url("/images/Canterbury-banner.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px;
}

h1 {
    color: whitesmoke;
    background-color: #7F9EB3;
    border-radius: 7px;
    display: inline-block;
    padding: 10px;
}

h2 {
    color: whitesmoke;
    background-color: #3E5F88;
    border-radius: 7px;
    padding: 5px;
    font-size: medium;
}

#locations {
    color: #3E5F88;
}

#attractions-section {
    padding: 20px;
    background-color: #EEE8DC;
}

.images {
  width: 100px; 
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
}

.attractions {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.attractions-container {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    align-items: center; 
    font-size: large;
    color: #3E5F88;
}

.button {
    color: whitesmoke;
    background-color: #1D3557;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
}

.button, a {
    color: whitesmoke;
    text-decoration: none;
}

.button, a:hover {
    color: red;
    text-decoration: none;
}

.guide {
    max-width: 400px; 
    width: 100%;
    margin: 40px auto; 
    padding: 20px;
    display: flex;
    flex-direction: row; 
    align-items: center; 
    background: #87966B;
    color: #F4F5F2;
    text-align: left; 
    border-bottom: 6px solid #F4F5F2;
    border-radius: 10px;
}

.guide img {
    width: 200px; 
    height: 210px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px; 
}

#video {
    background-color: #474F38;
}